.item {
  width : 30%;
}
.c-page__main div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

img {
  width: 31%;
  padding: 1%;
}
