#top_banner {
    background: url("../images/ryyder_icon.png") center center transparent;
    background-size: cover;
    color: #ffffff;
    /*text-shadow:
       1px 1px 0 #010101,
     -1px -1px 0 #010101,
      1px -1px 0 #010101,
      -1px 1px 0 #010101,
       1px 1px 0 #010101;*/
}
